{% extends "base_generic.html" %}

{% block content %}
<div class="information-container">
    <h3>Informació general:</h3>
    <ul class="list-inline">
      <li class="list-inline-item">
        <strong>Treballadors:</strong>
        <span class="badge bg-primary">{{ num_Treballadors }}</span>
      </li>
      <li class="list-inline-item">
        <strong>Serveis totals:</strong>
        <span class="badge bg-primary">{{ num_Serveis }}</span>
      </li>
      <li class="list-inline-item">
        <strong>Serveis Quotidians:</strong>
        <span class="badge bg-primary">{{ num_Quotidia }}</span>
      </li>
      <li class="list-inline-item">
        <strong>Serveis Especials:</strong>
        <span class="badge bg-primary">{{ num_Especial }}</span>
      </li>
    </ul>
</div>
  
  
<canvas id="serviciosChart"></canvas>

<script>
  // Obtener los datos del servidor
  const labels = JSON.parse('{{ dias | safe }}');
  const data = JSON.parse('{{ cantidades | safe }}');

  const datosServicios = {
      labels: labels,
      datasets: [{
          label: 'Quantitat de serveis ultims 30 dias',
          data: data,
          backgroundColor: 'rgba(75, 192, 192, 0.2)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
      }]
  };

  // Crear el gráfico
  const ctx = document.getElementById('serviciosChart').getContext('2d');
  new Chart(ctx, {
      type: 'line',
      data: datosServicios,
      options: {
          responsive: true,
          scales: {
              y: {
                  beginAtZero: true,
                  stepSize: 1
              }
          }
      }
  });
</script>

{% endblock %}
