{% extends 'base_generic.html' %}

{% block content %}



<br>

<div class="container text-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myServei">
      Afergir Servei
    </button>
  </div>
  
  
  <script>
    $('#myModal').on('hide.bs.modal', function () {
      // Limpiar el formulario al cerrar el modal
      $(this).find('form')[0].reset();
    });
  </script>
  
  
  <div class="modal fade" id="myServei" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModalLabel">Servei info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <h1>Crear Servei</h1>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="dia">Día:</label>
                <input type="date" class="form-control" id="dia" name="dia" required>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        Carrer
                    </span>
                    <input type="text" class="form-control" placeholder="Av. ..." aria-label="Carrer" aria-describedby="basic-addon1" name="Carrer" >
                </div>
              </div>

              <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        Numero
                    </span>
                    <input type="text" class="form-control" placeholder="123 ..." aria-label="Numero" aria-describedby="basic-addon1" name="Numero" >
                </div>
              </div>

              <div class="form-group">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        Altura / Profunditat
                    </span>
                    <input type="text" class="form-control" placeholder="[0-7]" aria-label="Alt/Prof" aria-describedby="basic-addon1" name="Alt/Prof" >
                </div>
              </div>

              <div class="form-group">
                <label for="tipus_Servei">Tipus de servei:</label>
                <select class="form-control" id="tipus_Servei" name="tipus_Servei" required>
                  <option value="Especial">Especial</option>
                  <option value="Quotidia">Quotidia</option>
                </select>
              </div>
              <button type="submit" name="añadir" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>


<div class="modal-body">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="dia_servei">Día:</label>
          <input type="date" class="form-control" id="busca_dia" name="dia_servei" required>
        </div>
        <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Mes Informacio</button>
      </form>
    </div>
  </div>
  
  

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Quotidians / Especials </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Quotidians</h5>
          {% for quo in quotidia %}
          <ul class="list-group">
            <li class="list-group-item" aria-current="true">{{ quo.Carrer }}, {{ quo.Numero }}, <span class="badge bg-primary rounded-pill text-white">Altura: {{ quo.altura }}</span> </li>
          </ul>
          {% endfor %}
            <br>
          <h5>Especials</h5>
          {% for esp in especial %}
          <ul class="list-group">
            <li class="list-group-item" aria-current="true">{{ esp.Carrer }}, {{ esp.Numero }}, <span class="badge bg-primary rounded-pill text-white">Profunditat: {{ esp.profunditat }}</span></li>
          </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>  
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">Serveis realitzats el Dia: {{ dia_servei }}</h5>
            <div class="list-group list-group-flush overflow-auto" style="max-height: 300px;">
              {% for ser in serveis_dia %}
              <div class="list-group-item">
                <div class="d-flex justify-content-between">
                  <div>{{ ser.Carrer }}</div>
                  <span class="badge bg-primary rounded-pill">{{ ser.Numero }}</span>
                </div>
                {% for rol in roles %}
                {% if rol.servei == ser %}
                <ul class="list-group">
                  <li class="list-group-item" aria-current="true">{{ rol.treballador.Nom }} <span class="badge bg-primary rounded-pill text-white">{{ rol.tipus_rol }}</span></li>
                </ul>
                {% endif %}
                {% endfor %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{ ser.id }}">Afegir Treballadors</button>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% for ser in serveis_dia %}
    <!-- Modal para añadir trabajadores -->
  <div class="modal fade" id="modal-{{ ser.id }}" tabindex="-1" aria-labelledby="modal-{{ ser.id }}-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-{{ ser.id }}-label">Afegir Treballadors</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulario para añadir trabajadores -->
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="servei" value="{{ ser.id }}">
            {% for treballador in treballadors_list %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{ treballador.DNI }}" id="defaultCheck{{ treballador.DNI }}" name="trabajador" />
              <label class="form-check-label" for="defaultCheck{{ treballador.DNI }}">
                {{ treballador.Nom }} {{ treballador.Cognom }}
              </label>
              <div class="form-group">
                <select class="form-control" id="tipus_dia_{{ treballador.DNI }}" name="tipus_dia_{{ treballador.DNI }}" required>
                  <option value="Responsable">Responsable</option>
                  <option value="Asistent">Asistent</option>
                  <option value="Comunicador">Comunicador</option>
                </select>
              </div>
            </div>
            
            {% endfor %}

            <!-- Otros campos del formulario, si los hay -->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  
  
{% endblock %}