{% extends 'base_generic.html' %}

{% block content %}

<br>

<div class="container text-center">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Afegir Treballador a un Dia
  </button>
</div>


<script>
  $('#myModal').on('hide.bs.modal', function () {
    // Limpiar el formulario al cerrar el modal
    $(this).find('form')[0].reset();
  });
</script>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Formulario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>Formulari</h1>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="dia">Día:</label>
              <input type="date" class="form-control" id="dia" name="dia" required>
            </div>
            <div class="form-group">
              <label for="treballadors">Treballadors:</label>
              <select multiple class="form-control" id="treballadors" name="treballadors[]" required>
                {% for treballador in treballadors %}
                <option value="{{ treballador.DNI }}">{{ treballador.Nom }} {{ treballador.Cognom }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="tipus_dia">Tipus de día:</label>
              <select class="form-control" id="tipus_dia" name="tipus_dia" required>
                <option value="Treballant">Treballant</option>
                <option value="Personal">Personal</option>
                <option value="Indisposicio">Indisposicio</option>
              </select>
            </div>
            <button type="submit" name="añadir" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="modal-body">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="dia_info">Día:</label>
        <input type="date" class="form-control" id="busca_dia" name="dia_info" required>
      </div>
      <button type="submit" name="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>



<div class="grid text-center">
  <div class="g-col-6"><span class="d-block p-2 bg-primary rounded-pill text-white">Dia:</span></div>
  <div class="g-col-6">{{ dia_dia }}</div>
</div>
<br>
<div class="grid text-center">
  <div class="g-col-6"><span class="d-block p-2 bg-primary rounded-pill text-white">Tipus Dia per treballador:</span></div>
  <div class="g-col-6">
    {% for tip in tipus_dia %}
    <div class="text-center">{{ tip.treballador }}  <span class="badge bg-primary rounded-pill text-white">{{ tip.tipus }}</span></div>
    {% endfor %}
  </div>
</div>




{% endblock %}
