{% extends 'base_generic.html' %}

{% block content %}
    <h1>Lista de Trabajadores</h1>

    <!--<table>
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Cantidad de Servicios</th>
            </tr>
        </thead>
        <tbody>
            {% for trabajador in trabajadores %}
                <tr>
                    <td>{{ trabajador.DNI }}</td>
                    <td>{{ trabajador.Nom }}</td>
                    <td>{{ trabajador.Tlf }}</td>
                    <td>{{ trabajador.cantidad_roles }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Cantidad de Servicios</th>
            </tr>
    </thead>
    <tbody>
        {% for trabajador in trabajadores %}
            <tr>
                <td>{{ trabajador.DNI }}</td>
                <td>{{ trabajador.Nom }}</td>
                <td>{{ trabajador.Tlf }}</td>
                <td class="badge bg-primary rounded-pill">{{ trabajador.cantidad_roles }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
