{% extends 'base_generic.html' %}

{% block content %}
    
    <h1>Lista de Trabajadores</h1>
    <br>
    <div class="search-form-container">
        <form method="get" action="{% url 'treballadors' %}" class="d-flex">
          <input type="text" class="form-control me-2" name="q" placeholder="Buscar trabajador">
          <button class="btn btn-primary" type="submit">Buscar</button>
        </form>
    </div>
      
    <br>
      

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>DNI</th> -->
                <th>Nom</th>
                <th>Cognom</th>
                <!-- <th>Teléfono</th> -->
                <th>Quantitat de Serveis</th>
                <th>Info</th>  <!-- Nueva columna para el botón -->
            </tr>
        </thead>
        <tbody>
            {% for trabajador in trabajadores %}
                <tr>
                    <!-- <td>{{ trabajador.DNI }}</td> -->
                    <td>{{ trabajador.Nom }}</td>
                    <td>{{ trabajador.Cognom }}</td>
                    <!-- <td>{{ trabajador.Tlf }}</td> -->
                    <td class="badge bg-primary rounded-pill text-white">{{ trabajador.cantidad_roles }}</td>
                    <td>
                        <a href="{% url 'treballador_info' trabajador.DNI %}" class="btn btn-primary">Detall</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
