{% extends 'base_generic.html' %}

{% block content %}
    <h1>Detalls del Traballador</h1>

    <br>
    
    <div class="container overflow-hidden text-center">
        <div class="row gy-5">
          <div class="col-6">
            DNI
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    {% load static %}
                    <img src="{% static 'person-vcard.svg' %}"> 
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ trabajador.DNI }}" disabled>
            </div>
          </div>
          <div class="col-6">
            Nom
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    {% load static %}
                    <img src="{% static 'file-person.svg' %}"> 
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ trabajador.Nom }}" disabled>
            </div>
          </div>
          <div class="col-6">
            Cognom
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">
                    {% load static %}
                    <img src="{% static 'file-person-fill.svg' %}"> 
                </span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" value="{{ trabajador.Cognom }}" disabled>
            </div>
          </div>
          <div class="col-6">
            Telèfon
            <form method="post" action="{% url 'actualizar_telefono' dni=trabajador.DNI %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">
                        {% load static %}
                        <img src="{% static 'telephone.svg' %}"> 
                    </span>
                    <input type="text" class="form-control" placeholder="Telèfon" aria-label="Telèfon" aria-describedby="basic-addon1" name="Tlf" value="{{ trabajador.Tlf }}">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
          </div>
        
        </div>
      </div>
      <br>
      <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <span class="fw-semibold"><p>Quantitat de serveis especials:</p></span>
            <div class="badge bg-primary text-white" style="width: 6rem;">
              {{ especials }}
            </div> 
          </div>
          <div class="col">
            <span class="fw-semibold"><p>Quantitat de serveis quotidians:</p></span>
            <div class="badge bg-primary text-white" style="width: 6rem;">
              {{ quotidians }}
            </div> 
          </div>
        </div>
      </div>

    <br>

    <div class="container-sm">
      <h4>Darrers 5 mesos de vacances:</h4>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearMesVacancesModal">
        Crear MesVacances
      </button>
      
      <div class="row gx-5">
        {% for mes_vacaciones in mes_vacances %}
          <div class="col">
            <div class="p-3">
              {{ mes_vacaciones.Any }} {{ mes_vacaciones.Mes }}
            </div>
          </div>
        {% empty %}
          <div class="col">
            <div class="p-3">No hi han mesos de vacances.</div>
          </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="modal fade" id="crearMesVacancesModal" tabindex="-1" aria-labelledby="crearMesVacancesModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="crearMesVacancesModalLabel">Crear MesVacances</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="{% url 'afegir_mes' dni=trabajador.DNI %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="anyInput" class="form-label">Any</label>
                <input type="number" class="form-control" id="anyInput" name="any" required>
              </div>
              <div class="mb-3">
                <label for="mesInput" class="form-label">Mes</label>
                <select class="form-select" id="mesInput" name="mes" required>
                  <option value="Juliol">Juliol</option>
                  <option value="Agost">Agost</option>
                  <option value="Septembre">Septembre</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Crear</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    


      
      

{% endblock %}
