{% extends 'base_generic.html' %}

{% block content %}
    <h1>Lista de Trabajadores</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>DNI</th> -->
                <th>Nom</th>
                <th>Cognom</th>
                <!-- <th>Teléfono</th> -->
                <th>Quantitat de Serveis</th>
                <th>Info</th>  <!-- Nueva columna para el botón -->
            </tr>
        </thead>
        <tbody>
            {% for trabajador in trabajadores %}
                <tr>
                    <!-- <td>{{ trabajador.DNI }}</td> -->
                    <td>{{ trabajador.Nom }}</td>
                    <td>{{ trabajador.Cognom }}</td>
                    <!-- <td>{{ trabajador.Tlf }}</td> -->
                    <td class="badge bg-primary rounded-pill">{{ trabajador.cantidad_roles }}</td>
                    <td>
                        <a href="{% url 'treballador_info' trabajador.DNI %}" class="btn btn-primary">Detall</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
